.contenedorHero {
    display: flex;
	padding: 230px var(--paddingCostado) 50px var(--paddingCostado);
	background-color: var(--backgroundColor); 
	border-bottom: #202020 2px solid;	
}
.showcaseRowTitle {
	max-width: 60%;
	word-wrap: break-word;
}
.showcaseImg {
	width: 40% fixed;
}
.fotomodelo {
	width: 100%;
	border-radius: 0 0 10px 10px;
}
.hello2 {
	font-size: var(--tamanoFuenteLogo);
	color: #f70838;
}
.hello {
    font-size: var(--tamanoFuenteLogo);
	font-family:  'Altone';
	margin-bottom: 4px;

}
.texto-grande {
	font-family: 'Altone Bold';
    font-size: var(--tamanoFuenteGrande);
}
.textoCopyright {
	font-size: var(--tamanoFuenteChico);
}
.designer {
	margin-bottom: 15px;
	font-family:  'Altone';
    font-size: var(--tamanoFuenteMedio); 
	margin-bottom: 24px;
}
.marginR20 {
	padding-right: 10px;
}
.textoNormal {
	font-size: var(--tamanoFuenteChico);
	line-height: 28px;
	color: var(--colorTextoApagado);
}
.sigueme {
	margin-top: 60px;
	font-size: 18px; 
}
.boximagenes{
	padding-top: 34px;
    margin-bottom: 90px;
}
.boxpuntajes {
    display: flex;
	justify-content: space-between;
	padding: 0 60px 0 0;

}
.icon-cuadro {
    border-radius: 5px;
    padding: 20px;
    background-color: #181828;
	font-size: 20px;
    margin: 0 12px 0 0;
	color: #fff;
}
.puntajes {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.puntaje {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 13px;
}

.textopuntaje {
    font-size: 12px;
}
@media (max-width: 1080px) {
	/* Se pone en clumna logo, menú y botón descargar currículum  */
	.navbar  {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-basis: 1;
	}
	/* Div derecho zona texto hero  */
	.showcaseImg {
		width: 1%;
		display: hidden;
	}
	/* Se acerca el menú al logo */
	.navbar ul {
		margin-top: 5px;
	}
	/* Div izquierdo zona texto hero  */
	.showcaseRowTitle {
		width: 100%;
	}
    /* Al estiarse hacia abajo el menú en clumna se extiende el margen de body hacia abajo 
	así quedan visibles los encabezados de las zonas accesibles por menú	 */
	.contenedorHero{
		padding-top: 200px;
	} 
	/* El divisor oculto se muestra para aumentar el top de la zona de encabezado de cada opción de menú 
	ya que al estar estirado hacia abajo el menú tapa el encabezado de las mismas.  
	el div separador puede usarse mas de una vez en alguna sección para aumentar el espacio.
	*/
	.divisorOculto {
		display: block;
	}
}
@media (max-width: 710px) {
	.botonMenu {
		position: absolute;
		display: block;
		float: right;
		top: 20%;
		left: 5%;
		text-align: right;
	}
	body {
		width: 100%;
	}
    /* .navbar ul {
		display: none;
	} */
	.navbar {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.seoculta {
		display: hidden; 
	}
	
    .control {
		font-size: 20px;
	}
	.contenedorGrupoCampos {
		display: flex;
		flex-direction: column;
	}
	.nombre, .telefono, .email, .asunto {
		 text-align: center;
		 margin: 10px 10px 10px 10px;
		 width: 100%;
	}
	.mensaje {
		width: 85%;
	}
}
