.portfolio {
	text-align: center;
	padding: 0px var(--paddingCostado) 30px var(--paddingCostado);
	border-bottom: #202020 2px solid;	
	border-top: 0px;
    border-right: 0px;
    border-left: 0px;
	background-color: var(--backgroundColor); 
}
.portfolioTxtRed {
	color: #f70838;
	font-size: 12px;
	line-height: 30px;
}
.portfolioActividadReciente {
	font-family: 'Altone Bold';
    font-size: 50px;
	margin-left: 10px;
	margin-bottom: 29px;
	border-top: 500px;
}
.portfolioBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
.workImgBox {
	width: 370px;
    text-align: center;
}
.work-img {
	width: 96%;
	border-radius: 3%; 
	margin-bottom: 15px;
	transform: scale(var(--escala, 1));
	transition: transform 0.25s;
}
.work-img:hover {
	/* filter:blur(1px); */
	/* transform: scale(1.1); */
	--escala: 1.1;
	cursor:pointer;
}
.textoImagen {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
.portfolioBtnDark {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 250px;
	height: 58px;
	color: #ebf2fc;
	font-size: 15px;
	border: 0;
	border-radius: 5px;
	background-color: #181818;
	box-shadow: 1px 1px 3px 4px rgba(0.1, 0.1, 0.1, 0.1);    
	margin: 0 auto;
}

.flecha {
    margin-left: 10px;
	font-size: 30px;
}

.hover1{
	position: relative;
}

.img1{
	max-width: 100%;
	height: auto;
	opacity: .88;
}
	
.lnk1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	color:#000;
}

@media (max-width: 710px) {
	.botonMenu {
		position: absolute;
		display: block;
		float: right;
		top: 20%;
		left: 5%;
		text-align: right;
	}
	body {
		width: 100%;
	}
    /* .navbar ul {
		display: none;
	} */
	.navbar {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.seoculta {
		display: hidden; 
	}
	
    .control {
		font-size: 30px;
	}
	.mainHeader {
		display: none;
	}
	.navbar {
		position: relative;
		z-index: 0;
		display: none;
	}

}
