.mainExperiencia{
    padding: 0px var(--paddingCostado) 0px var(--paddingCostado);
	display: flex;
	flex-direction: column;
	border-bottom: #202020 2px solid;	
	border-top: 0px;
    border-right: 0px;
    border-left: 0px;
	background-color: var(--backgroundColor); 
}
.contenedorTitulo {
	text-align: center;
}
.subtituloExperiencia {
	color: #f70838;
	font-size: 11px;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 3px;
}
.experienciaContenedor {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;
}
.columna {
	display: flex;
	flex-direction: column;
}
.expCajaLineaVertical {
	background-image: url('../Assets/fondodiv.png'); 
	background-repeat: no-repeat;
	width: 554px; 
	height: 220px; 
	padding-left: 26px;
	padding-bottom: 20px;
}
.experienciaTxtMedio {
	font-family: 'Altone';
    font-size: var(--tamanoFuenteMedio);
}
.experiencia-titulo {
	line-height: 15px;
	font-size: 24px;
}
.experienciaTextoNormal {
	font-size: 0.7em;
	line-height: 20px;
}
.experienciaTitulo3 {
	margin-bottom: 20px;
}
.experienciaNumeros {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 30px;
    color: #f70838;
    font-size: var(--tamanoFuenteChico);
}
.marginAbajo {
	margin-bottom: 30px;
}
.marginArribaAbajo {
	margin: 0px 0 0px 0;
}
.marginArriba {
	margin-top: 30px;
}
.cajaExperienciaBox {
	color: #c8d8e8;
	float: right;
	height: 190px; 
	margin-left: 10px;
	padding: 30px;
	text-align: left;

	border-radius: 5px;
	box-shadow: 1px 1px 3px 4px rgba(0.1, 0.1, 0.1, 0.1);    
	background: rgb(48,48,48);
	background: linear-gradient(130deg, rgba(48,48,48,1) 0%, rgba(41,41,41,1) 100%);
} 
.academia {
	font-size: 14px;
	margin-top: 8px;
	color: #adb2ba;
}
.margenSuperiorExperiencia {
	margin-top: 17px;
	color: #adb2ba;
}

@media (max-width: 1080px) {
	/* Se pone en clumna logo, menú y botón descargar currículum  */
	.navbar  {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-basis: 1;
	}
	/* Div derecho zona texto hero  */
	.showcaseImg {
		width: 1%;
		display: none;
	}
	/* Se acerca el menú al logo */
	.navbar ul {
		margin-top: 5px;
	}
	/* Div izquierdo zona texto hero  */
	.showcaseRowTitle {
		max-width: 100%;
	}
    /* Al estiarse hacia abajo el menú en clumna se extiende el margen de body hacia abajo 
	así quedan visibles los encabezados de las zonas accesibles por menú	 */
	.contenedorHero{
		padding-top: 200px;
	} 
	/* El divisor oculto se muestra para aumentar el top de la zona de encabezado de cada opción de menú 
	ya que al estar estirado hacia abajo el menú tapa el encabezado de las mismas.  
	el div separador puede usarse mas de una vez en alguna sección para aumentar el espacio.
	*/
	.divisorOculto {
		display: block;
	}
	.cajaExperienciaBox {
		width: 100%;
	}
}

@media (max-width: 1053px) {
	.ocultame {
		display: none;
	}

body {
	width: 100%;
}
.cajaExperienciaBox {
	width: 100%;
}
}
@media (max-width: 710px) {
	.botonMenu {
		position: absolute;
		display: block;
		float: right;
		top: 20%;
		left: 5%;
		text-align: right;
	}
	body {
		width: 100%;
	}
    .navbar ul {
		display: none;
	}
	.navbar {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.seoculta {
		display: hidden; 
	}

    .control, .textogrande {
		font-size: 20px;
	}
	
	.contenedorGrupoCampos {
		display: flex;
		flex-direction: column;
	}
	.nombre, .telefono, .email, .asunto {
		 text-align: center;
		 margin: 10px 10px 10px 10px;
		 width: 100%;
	}
	.mensaje {
		width: 85%;
	}
}
