.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--backgroundColor);
	padding: 50px var(--paddingCostado) 0 var(--paddingCostado);
	border-radius: 0 0 20px 20px;
}
.footerLoguito {
	text-align: center;
}
.footer-contenedor-iconos {
	padding: 20px;
	margin-top: 20px;
}
.textoCopyright {
	line-height: 15px;
	padding-top: 10px;
	font-size: 9px;
	padding-bottom: 50px;
}



@media (max-width: 710px) {
	.botonMenu {
		position: absolute;
		display: block;
		float: right;
		top: 20%;
		left: 5%;
		text-align: right;
	}
	body {
		width: 100%;
	}
    .navbar ul {
		display: none;
	}
	.navbar {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.seoculta {
		display: hidden; 
	}

    .control {
		font-size: 20px;
	}
	.contenedorGrupoCampos {
		display: flex;
		flex-direction: column;
	}
	.nombre, .telefono, .email, .asunto {
		 text-align: center;
		 margin: 10px 10px 10px 10px;
		 width: 100%;
	}
	.mensaje {
		width: 85%;
	}
	.footer-contenedor-iconos {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	.footerIcon {
		width: 10px;
		padding: 5px;
	}
	.icon-cuadro {
		padding: 5px;
	}
}
